.element {
  max-width: 282px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.element:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.9);
  transform: scale(1.09);
}

.element__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
  transition: all 0.2s ease-in-out;
}
.element__title {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__text {
  margin: auto;
  margin-left: 21px;
  display: flex;
  justify-content: space-between;
}
.element__like {
  background-color: white;
  border: none;
  width: 21px;
  height: 19px;
  margin: auto 15px;
  cursor: pointer;
  background-image: url(../images/corazon.svg);
}
.element__like-active {
  background-image: url(../images/like_active.png);
}
.element__like:hover {
  opacity: 70%;
}
.active {
  display: none;
}

.element__trash {
  background: none;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  height: 19px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  z-index: 1;
}

.element__trash:hover {
  opacity: 70%;
}

@media screen and (min-width: 1020px) {
  .element:hover .element__image {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .element {
    margin: auto;
    max-width: 350px;
  }

  .element__image {
    max-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .element {
    max-width: 282px;
  }
  .element__image {
    max-width: 282px;
  }
}
