.forms {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  background-color: white;
  width: 430px;
  max-width: 100%;
  height: auto;
  padding: 35px;
}

.dialog {
  background: none;
  border: none;
  padding: 50px;
}
.forms__title {
  color: black;
  margin: 0;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.forms__submit-button {
  margin: 48px 0 0 0;
  width: 358px;
  height: 50px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
}

.forms__submit-button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.forms__submit-button:hover {
  opacity: 80%;
}

.forms__close-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  position: absolute;
  top: -47px;
  right: -45px;
  background: black;
  cursor: pointer;
  z-index: 2;
}

.forms__close-button:hover {
  opacity: 80%;
}

.forms__image-button {
  display: flex;
  margin: auto;
  border: none;
}

@media screen and (max-width: 426px) {
  .forms {
    padding: 25px 0 0;
    width: 282px;
    height: 322px;
  }
  .forms__title {
    margin-left: 22px;
  }
  .forms__submit-button {
    width: 238px;
    margin-left: 22px;
  }
}
@media screen and (max-width: 320px) {
  .forms__submit-button {
    margin-left: 22px;
    width: 238px;
    height: 46px;
  }
  .forms__title {
    margin-left: 22px;
    font-size: 18px;
  }

  .forms__close-button {
    bottom: 325px;
    left: 245px;
  }
}
