.form__dialog {
  background: none;
  border: none;
  padding: 52px;
}

.form__edit {
  border: none;
  padding: 0;
}
.form__input {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.708);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin: 30px 0 0 0;
  outline: none;
}

.form__input-error {
  color: red;
  border-bottom: 2px solid red;
  font-size: 0.7em;
}

.form__input-error-span {
  color: red;
  font-size: 0.7em;
}


@media screen and (max-width: 426px) {
  .form__input {
    margin-left: 22px;
    width: 238px;
  }

  .form__dialog {
    padding: 25px;
  }
}

@media screen and (max-width: 320px) {
  .form__dialog {
    padding: 50px 0 0 0;
  }

  .form__input {
    margin-left: 22px;
    width: 238px;
  }
}
